<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <a class="navbartop" href="/">Blogly</a>
        <ul class="navbarmain">
            <li class="navitem"><a class="navlink" href="/users">Users</a></li>
            <li class="navitem"><a class="navlink" href="/tags">Tags</a></li>
            <li class="navitem"><a class="navbtn" href="/users/new">Add user</a>
            <li class="navitem"><a class="navbtn" href="/tags/new">Add tag</a>
        </ul>
    </nav>
</body>
</html>